.search-form {
  max-width: 400px;
  display: block;
  margin: 10px auto 0;
  font-size: 12px;
}

.search-form .btn-primary {
  background-color: white;
  border: solid 1px #ced4da;
  padding: 10px 45px 10px 10px;
  font-size: 10px;
  color: black;
  line-height: 1;
  text-align: center;
}

.btn:hover {
  background-color: #7fa4e8;
  border: solid 1px #7fa4e8;
  color: white;
}

#search-engine {
  line-height: 1;
}

.form-control#search-engine {
  max-width: 90%;
  position: relative;
  right: -50px;
}

.label {
  font-size: 10px;
  text-align: center;
}
